body {
background-image: url(cute.png);
background-repeat: no-repeat;
background-size: 100% 100%;
border: 5px solid white;
}

h1 {
   color: #ff69b4;;
   font-family: 'IBM Plex Serif',serif;
   font-size: 300%;
}